$Id: socklog-check.c,v 1.2 2006/02/26 13:30:37 pape Exp $
usage: socklog-check [-v] [unix [address]]

1
listening on socklog.check.socket, starting.
0
socklog-check: info: successfully connected to socklog.check.socket
0
socklog-check: warning: unable to connect socket: socklog.check.socket: connection refused
111
